vless://85086ce0-e429-4062-9a3f-eef0a70f5134@link.e.tiktok.com:443?type=ws&encryption=none&security=tls&path=%2Ftiktok4g&host=permitted-leu-mart-cgi.trycloudflare.com#Cloudflare_TLS
vless://85086ce0-e429-4062-9a3f-eef0a70f5134@link.e.tiktok.com:80?type=ws&encryption=none&security=&path=%2Ftiktok4g&host=permitted-leu-mart-cgi.trycloudflare.com#Cloudflare_HTTP